@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}
.box{
    position: relative;
    background-color:  hsl(0, 0%, 100%);
    width: 330px;
    height: 480px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

img{
    border-radius: 20px;
    height: 280px;
    width: 300px;
}
.headingMain{
    font-size: 700;
    text-align: center;
    color: hsl(218, 44%, 22%) ;
    font-size: 1.5em;
}
.para{
    text-align:center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}